{% extends "base_template.html" %}
{% block title %}Prezos das gasolineiras {% if concello %} en {{ concello }} {% else %} galegas {% endif %}{% endblock %}
{% block buscador %}
{% if not concello %}
<div class="d-flex justify-content-center">
  <img class="img-fluid" src='{{ url_for("static", filename="imaxes/gasolineira2.png") }}' />
</div>
<div class="container">
  <p class="h5 mt-5 text-center">Consulta os prezos das gasolineiras galegas</p>
</div>
{% endif %}

<div class="px-3 py-4 border-bottom mb-3 justify-content-between">
    <div class="container-fluid">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="mx-auto mb-3">
                <p class="form-text">Selecciona o concello:</p>
                {{ form.concello(class="form-select") }}
                {% for error in form.concello.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="mx-auto mb-3">
                <p class="form-text">Se queres ordenar polo máis barato selecciona tamén o tipo de combustíbel:</p>
                {{ form.ordepor(class="form-select") }}
             </div>
             <div class="d-grid gap-2">
                  {{ form.submit(class="btn btn-primary") }}
            </div>
    </form>
    </div>
  </div>
{% endblock %}
{% block content %}
<div class="container-fluid">
{% if concello %}
{% if ordepor.cod  == "nada" %}
<p class="h3 text-center">Gasolineiras en {{ concello }}</p>
{% else %}
<p class="h3 text-center">Gasolineiras en {{ concello }} ordenado polo prezo de {{ ordepor.nome }}</p>
{% endif %}
{% endif %}
{% for gasolineira in gasolineiras %}
{% if loop.first and ordepor.cod != "nada"  %}
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-6">
            {% if gasolineira.p_gasoleo_a != '' %}<p class="card-text m-3 {% if ordepor.cod == "p_gasoleo_a" %} text-success {% endif %}"> Gasóleo A: {{ gasolineira.p_gasoleo_a }}</p>{% endif %}
            {% if gasolineira.p_gasoleo_p != '' %}<p class="card-text m-3 {% if ordepor.cod == "p_gasoleo_p" %} text-success {% endif %}"> Gasóleo Premium: {{ gasolineira.p_gasoleo_p }}</p>{% endif %}
            {% if gasolineira.p_gasolina_95 != '' %}<p class="card-text m-3 {% if ordepor.cod == "p_gasolina_95" %} text-success {% endif %}"> Gasolina 95: {{ gasolineira.p_gasolina_95 }}</p>{% endif %}
            {% if gasolineira.p_gasolina_98 != '' %}<p class="card-text m-3 {% if ordepor.cod == "p_gasolina_98" %} text-success {% endif %}"> Gasolina 98: {{ gasolineira.p_gasolina_98 }}</p>{% endif %}
            {% if gasolineira.p_gasoleo_b != '' %}<p class="card-text m-3 {% if ordepor.cod == "p_gasoleo_b" %} text-success {% endif %}"> Gasóleo B: {{ gasolineira.p_gasoleo_b }}</p>{% endif %}
          </div>
          <div class="vr"></div>
          <div class="col-5">
            <div class="card-body">
              <h5 class="card-title text-success">{{ gasolineira.nome }}</h5>
              <p class="card-text text-success">{{ gasolineira.enderezo }}</p>
              <p class="card-text text-success"><small>{{ gasolineira.localidade }}</small></p>
              <a href="{{gasolineira.maps}}" target="_blank" class="card-link text-success"><img src="{{ url_for("static", filename="imaxes/geo-alt-fill.svg") }}" alt="Bootstrap" width="32" height="32">Mapa</a>
            </div>
            </div>
          </div>
        </div>
      </div>
      </div>
{% else %}
<div class="container-fluid">
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-6">
            {% if gasolineira.p_gasoleo_a != '' %}<p class="card-text m-3"> Gasóleo A: {{ gasolineira.p_gasoleo_a }}</p>{% endif %}
            {% if gasolineira.p_gasoleo_p != '' %}<p class="card-text m-3"> Gasóleo Premium: {{ gasolineira.p_gasoleo_p }}</p>{% endif %}
            {% if gasolineira.p_gasolina_95 != '' %}<p class="card-text m-3"> Gasolina 95: {{ gasolineira.p_gasolina_95 }}</p>{% endif %}
            {% if gasolineira.p_gasolina_98 != '' %}<p class="card-text m-3"> Gasolina 98: {{ gasolineira.p_gasolina_98 }}</p>{% endif %}
            {% if gasolineira.p_gasoleo_b != '' %}<p class="card-text m-3"> Gasóleo B: {{ gasolineira.p_gasoleo_b }}</p>{% endif %}
          </div>
          <div class="vr"></div>
          <div class="col-5">
            <div class="card-body">
              <h5 class="card-title">{{ gasolineira.nome }}</h5>
              <p class="card-text">{{ gasolineira.enderezo }}</p>
              <p class="card-text"><small>{{ gasolineira.localidade }}</small></p>
              <a href="{{gasolineira.maps}}" target="_blank" class="card-link"><img src="{{ url_for("static", filename="imaxes/geo-alt-fill.svg") }}" alt="Bootstrap" width="32" height="32">Mapa</a>
            </div>
            </div>
          </div>
        </div>
      </div>

{% endif %}
{% endfor %}
{% endblock %}